EXPERIMENT_NAME="CARM1_D"
WORKING_DIR="/home/rubin/proj_CARM1"

PRIMER1="TAATACGACTCACTATAGGGTTAACTTTAAGAAGGAGATATACAT"
STARTCODON="ATG" #listed at end of primer, but keep in seq here

PRIMER1="TAATACGACTCACTATAGGGTTAACTTTAAGAAGGAGATATACAT"
STARTCODON="ATG"
PRIMER2="TAGGACGGGGGGCGGAAA"
#TGCGGCAGCGGCAGCGGCAGC = linker (CGSGSGS)
PEP_LINKER="CGSGSGS"

# Where is the raw sequencing data stored?
# Make sure that the folder names do not contain spaces
SEQ_DATA_FOLDER="/home/rubin/proj_CARM1/D"

#Specify the file naming pattern. If more files are stored, specify the correct file pattern for the forward reads here
#RAW_FILE_PATTERN="*_R1_*_[0-6].fastq"
RAW_FILE_PATTERN="*Rd[0-6]_R1_[0-6].fastq"

#where to create a directory containing preprocessing results?
PREPROC_DIR_LOC="/home/rubin/proj_CARM1/D/preproc"

#filter parameters at DNA Reads level:
ERROR_RATE=0.1
QUALITY=10
MAX_N=0.1
MIN_READ_LEN=69
MAX_READ_LEN=69

# filter parameters at peptide sequence level:
MIN_PEP_LEN=18
MAX_PEP_LEN=100

# Which selection round should the reads be sorted on? Please use the same notation as in the filenames. 
RD="Rd3"
